<div id="app" class="interactive">

	<div id="headline">
		<h2>Petroleum exploration and assessment leases that are past their expiry dates, yet remain in force</h2>
		<strong>Under NSW law, a petroleum lease can remain current despite being past the expiry date as long as a renewal application has been submitted. The lease will remain in force until the renewal application is dealt with by government. Some leases expired over six years ago and have not been dealt with by government</strong>
	</div>

	<div id="key"></div>

	<div id="multimedia_container">

		<div id="map"></div>

	</div>

	<div class="credits">Guardian Graphic | Source: <a href="https://minview.geoscience.nsw.gov.au/" target="_blank">MinView</a>.</div>

</div>