<div id="app" class="interactive">

	<div id="headline">
		<h2>Gas production and exploration in Australia</h2>
		<strong>Showing petroleum tenements in Australia, which includes areas of exploration and production for unconventional gas such as coal-seam and tight shale gas</strong>
	</div>

	<div id="key"></div>

	<div id="multimedia_container">

		<div id="map"></div>

	</div>

	<div class="credits">Guardian Graphic | Data courtesy <a href="https://energyresourceinsights.com/" target="_blank">Energy & Resource Insights</a>.</div>

</div>