			<div class="audio_player_container" >

				<div class="audio_player">

					<div class="audio_control_block">

						<div class="audio_tivoli"></div>

						<div class="audio_control_player_container">
							<div class="audio_control_player_button play" data-track="fish-traps.mp3" data-id="0"></div>
						</div>

						<div class="audio_control_editorial_container">

							<div class="audio_control_editorial_header">
								Hear Bradley Hardy talking about the importance of the fish traps
							</div>

						</div>

						<div class="audio_control_progress_block">

							<div class="audio_control_progress_container retracted">
								<div class="audio_control_progress_current">0:00</div>
								<div class="audio_control_progress_bar_container" data-id="1">
									<div class="audio_control_progress_bar"></div>
								</div>
								<div class="audio_control_progress_totality"></div>
							</div>
							
						</div>

					</div>

				</div>

			</div>